{{.Head}}

{{range $method, $desc := .Methods}}
{{- if gt (len $desc.Arguments) 2 }}
type {{camel $method}} struct {
{{- range $idx, $put_required := $.RequiredOrder}}
{{- range $argname, $arg := $desc.Arguments}}
	{{- $type := get_type $argname $method $arg.Types }}

	{{- if eq $arg.Required $put_required}}
	// {{camel $argname}}
	// {{format $arg.Description.PlainText 1}}
	{{camel $argname}} {{if and (not $type.IsSimpleType) (not $arg.Required) -}}*{{end -}}
		{{- $type.GoType}} `json:"{{$argname}}{{if not $arg.Required}},omitempty{{end}}"`
	{{- end}}
{{- end}}
{{- end}}
}
{{- end}}
{{end}}

{{range $method, $desc := .Methods}}
// {{camel $method}}
// {{format $desc.Description.PlainText 0}}
func (api *API) {{camel $method}}(
{{- if gt (len $desc.Arguments) 2 -}}
args *{{camel $method}}
{{- else -}}
	{{- range $argname, $arg := $desc.Arguments}}
		{{- lowercamel $argname}} {{(get_type $argname $method $arg.Types).GoType}},
	{{- end}}
{{- end -}}
) (
{{- $returns := false}}
{{- $return_stared := false}}
{{- with $desc.Returns}}
	{{- if (not (eq .GoType "True"))}}
		{{- if and (not .IsSimpleType) (not .IsArray)}}*{{$return_stared = true}}{{end}}
		{{- .GoType}},
		{{- $returns = true}}
	{{- end}}
{{- end -}}
*Response, error) {
{{- if not (gt (len $desc.Arguments) 2)}}
	{{- if gt (len $desc.Arguments) 0}}
	args := struct {
		{{- range $argname, $arg := $desc.Arguments}}
		{{camel $argname}} {{(get_type $argname $method $arg.Types).GoType}} `json:"{{$argname}}{{if not $arg.Required}},omitempty{{end}}"`
		{{- end}}
	} {
		{{- range $argname, $arg := $desc.Arguments}}
		{{camel $argname}} : {{lowercamel $argname}},
		{{- end}}
	}
	{{- end}}
{{- end}}
	{{- if $returns}}
	resp, err :=
	{{- else}}
	return {{end}} api.MakeRequest("{{$method}}",{{- if eq (len $desc.Arguments) 0}}nil{{else}}args{{end}})
	{{- if $returns}}
	if err != nil {
		return {{if $returns}}{{default_return $desc.Returns}}, {{end}}nil, err
	}
	var data {{$desc.Returns.GoType}}
	err = json.Unmarshal(resp.Result, &data)
	return {{if $return_stared}}&{{end}}data, resp, err
	{{- end}}
}
{{end}}