{{.Head}}

const Version = "{{.Version}}"

// TODO: category description
{{range $typename, $desc := .Types}}
// {{camel $typename}}
// {{format $desc.Description.PlainText 0}}
type {{camel $typename}} struct {
{{- range $idx, $put_required := $.RequiredOrder}}
{{- range $field_name, $field_desc := $desc.Fields}}
	{{- $type := get_type $field_name $typename $field_desc.Types }}

	{{- if eq $field_desc.Required $put_required}}
	// {{camel $field_name}}
	// {{format $field_desc.Description.PlainText 1}}
	{{camel $field_name}} {{if and (not $type.IsArray) (not $field_desc.Required) -}}
			*{{end -}}
		{{- $type.GoType}} `json:"{{$field_name}}{{if not $field_desc.Required}},omitempty{{end}}"`
	{{- end}}
{{- end}}
{{- end}}
}

{{range $field_name, $field_desc := $desc.Fields}}
{{- $type := get_type $field_name $typename $field_desc.Types }}
{{- if and (not $field_desc.Required) (not $type.IsArray)}}

func (t *{{camel $typename}}) Get{{camel $field_name}}() {{$type.GoType}} {
	var res {{$type.GoType}}
	if t == nil {
		return res
	}
	if field := t.{{camel $field_name}}; field != nil {
		return *field
	}
	return res
}
{{- end}}
{{- end}}

{{end}}